.auth-right{
    transform: translateX(16px);
}

header button[class*="outline"]{
    background-color: $white;
    color: $dark;
}

header button[class*="outline"]:hover{
    background-color: $primary;
}
