.dot{
    border: 1px dashed $dark;
}

.bg-line{
    background-image: 
    repeating-linear-gradient(
        to right, 
        transparent  0 80px, 
        $info-20 -2px 81px
    ),
    repeating-linear-gradient(
        to top, 
        transparent  0px 80px, 
        $info-20 0px 81px
    )
}

.border-lg-start {

  @media (min-width: 992px) {
    border-left: 1px solid $border-color;
  }
}
.border-lg-end {

  @media (min-width: 992px) {
    border-right: 1px solid $border-color;
  }
}
