// font
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Dela+Gothic+One&family=Mochiy+Pop+One&display=swap');

// bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";

// 客製樣式
@import "./configuration/custom-colors";
@import "./configuration/variables";
@import "./configuration/variables-dark";
@import "./configuration/utilities";

$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: bg,
      values: $theme-colors
    ),

    "color": (
      property: color,
      class: text,
      values: $theme-colors
    ),

    "border-color": (
      property: border-color,
      class: border,
      values: $theme-colors
    ),

    "border": map-merge(
      map-get($utilities, "border"),
      (responsive: true)
    ),
    
    "border-start": map-merge(
      map-get($utilities, "border-start"),
      (responsive: true)
    ),
  )
);


@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./page/index";

// 元件
@import "./components/font-family";
@import "./components/logo";
@import "./components/line";
@import "./components/auth-stack";
@import "./components/text-size";
@import "./components/loop";
@import "./components/card";
@import "./components/transform";



